<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amending your entry</title>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap" rel="stylesheet">
</head>
<style>
    h1 {
        text-align: center;
        font-family: 'Playwrite CO', sans-serif;
        color: lavender;
    }
</style>
<body>
    <h1>Amend your Journal Entry</h1>

    <form action = "/logs/<%= log.id%>?_method=PUT" method = "POST">

        <label for="time">Time: </label>
        <input type="text" id="time" name="time" value="<%=log.time%>"><br />

        <label for="date">Date: </label>
        <input type="text" id="date" name="date" value="<%=log.date%>"><br  />

        <label for="title">Title: </label>
        <input type="text" id="title" name="title" value="<%=log.title%>"><br  />

        <label for="mood">Mood: </label>
        <input type="text" id="mood" name="mood" value="<%=log.mood%>"><br  />
        
        <label for="entry">Entry: </label>
        <textarea id="entry" name="entry" cols="30" rows="10"></textarea><br  />
        
        <button type="submit">Amend Blog</button><br  />
    
    </form>
</body>
</html