<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All of Your Entries</title>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap" rel="stylesheet">
</head>
<style>
    h1 {
        text-align: center;
        font-family: 'Playwrite CO', sans-serif;
        color: #ca7ad3;
      
    }
    
    body {
        background-color: #42dbbf;
    }
    
    .form {
        text-align: center;
        background-color: #ca7ad3;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        align-items: center;
    }
    .info {
        color: #f4eb82;
        font-family: 'Playwrite CO', sans-serif;
    }

    #delete-edit {
        background-color: #f4eb82;
        color: #ca7ad3;
        font-family: 'Playwrite CO', sans-serif;
        border-radius: 25px;
        padding: 10px;
        margin: 10px;
    
    }

    #input-bar {
        border-radius: 25px;
        padding: 5px;
        margin: 5px;
        background-color: #e4afda;
    }
</style>
<body>
    <nav class="navbar navbar-light" style="background-color: #e2e076; font-family: 'Playwrite CO', sans-serif; display: grid; grid-template-columns: 1fr 1fr 1fr; border-radius: 12px; text-align: center;">
        <a href="/auth/sign-in">Login</a>
            <a href="/auth/sign-up">Register</a>
            <a href="/logs">View All Entries</a>
      </nav>
    <h1>Your Journey</h1>
    <% logs.forEach((log) => { %>
        <div class="form">
        <li>
            <a class="info" href="/logs/<%= log._id %>">
                <%= log.title %></a>
                <p class="info"><%= log.date %></p>
            <form action="/logs/<%= log._id %>/edit">
                <button id="delete-edit"<%= log._id %>>Edit Entry</button>
            <form action="/logs/<%= log._id %>?_method=DELETE" method="POST">
                <button id="delete-edit">Delete Entry</button>
        
            </form>
        </li>
    </div>
    <% }) %>
</body>
</html>